<!doctype html>
<html amp lang="en">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>
<body>
<p>
    It fetches the apis from localhsot:3000. To run api, issue command
    npm run api.
    It loops through the list of hotels.
    Each hotel has a gallery of image, meta data and price. Price is dynamic and should be fetched from server eaach time.
    Click on this link.
</p>
<a href="/hotels-in-new-delhi">Hotels in New Delhi</a>
</body>


